# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# gRPC
alvinchow_backend/api/grpc/alvinchow_backend_protobuf
alvinchow_backend_protobuf_async/

# sed backup thing
*-E
# C extensions
*.so

# Distribution / packaging
dist
*.egg-info/
.installed.cfg
*.egg

# Environments
.venv
venv

# Editors
.vscode

# mkdocs documentation
/site

# mypy
.mypy_cache/

local_config.py

# System stuff
.DS_Store

# Tests
htmlcov
.coverage
