[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "fury"
url = "https://pypi.fury.io/alvinchow86"
verify_ssl = true

[dev-packages]
pytest = "~=6.0"
pytest-mock = "~=3.3"
freezegun = "~=0.3"
flake8 = "==3.8"
pytest-cov = "==2.10.1"
faker = "==4.1.0"
watchdog = "==0.10.2"
promise = "==2.3"  # for graphene
pre-commit = "==2.6.0"

[packages]
# Core
apscheduler = "==3.6.3"
pytz = "==2020.1"
python-dateutil = "==2.8.1"
# Database, Caching
alembic = "==1.4.3"
psycopg2-binary = "==2.8.3"
sqlalchemy = "==1.3.17"
redis = "==3.5.2"
sqlalchemy-postgres-bigint-id = "==0.2.0"
# Web
flask = "==1.1.2"
flask-cors = "==3.0.7"
graphene = "==3.0.0b6"
graphql-server = "==3.0.0b3"
# Queueing
celery = {extras = ["redis"],version = "==5.0.1"}
# Auth/security (if using user-login)
cryptography = "==3.3.1"
passlib = "==1.7.4"
argon2-cffi = "==20.1.0"
# gRPC
Cython = "==0.29.21"
grpcio = "==1.34.0"
grpcio-status = "==1.34.0"
protobuf = "==3.14.0"
protobuf_serialization = "==0.1.1"

# Monitoring
sentry-sdk= "==0.14.4"
blinker = "==1.4"
scout-apm = "==2.14.1"
# Other
click = "~=7.0"
ipython = "~=7.2"
watchdog = "==0.9.0"
rules = "==2.0.1"
easydict = "==1.9"

[requires]
python_version = "3.9"
